p {
  padding: 0;
  margin: 0;
}

.profile {
  margin-top: 30px;
  width: 300px;
  background: linear-gradient(
    135deg,
    rgb(167, 197, 164) 0%,
    rgb(48, 118, 57) 49%,
    rgb(8, 36, 12) 100%
  );
  /* border-radius: 10px; */
  color: #fff;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-top: 20px;
  width: 100px;
  /* border-radius: 50%; */
}

.name {
  color: blue;
  margin-top: 10px;
  font-size: 30px;
  /* font-weight: bold; */
}

.tag,
.location {
  margin-top: 10px;
  font-size: 20px;
  color: blue;
}

.stats {
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(170, 251, 251);
}

/* .label {
  font-weight: bold;
} */

.quantity {
  font-size: 17px;
  color: #fff;
}
